@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    box-sizing: border-box;
}
header, main, .buttom {
    width: 100%;
    max-width: 1170px;
    height: auto;
    min-height: 80px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
main {
    margin: 100px auto 100px auto;
}
a {
    text-decoration: none;
}
a.logo-up, a.logo-down {
    display: flex;
    align-items: center;
    gap: 15px;
}
a.logo-up img, a.logo-down img {
    width: 30px;
    height: 30px;
}
h1 {
    color: #16133D;
    font-family: 'Nunito Sans';
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: 0.2px;
    margin: 15px 0 40px 0;
}
h2 {
    color: #16133D;
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.28px;
    letter-spacing: 0.2px;
    margin: 30px 0 15px 0;
}
h3 {
    color: #7690A8;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}
h5 {
    color: #16133D;
    font-family: 'Quicksand';
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
}
a.logo-down h5 {
    color: white;
}
p {
    color: #16133D;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    margin-bottom: 30px;
}
div.block a {
    color: #3DB370;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
div.block {
    display: flex;
    gap: 30px;
}
div.left, div.middle, div.right {
    width: 100%;
    max-width: 290px;
    height: 260px;
    padding: 40px;
}
.right:hover {
    border-radius: 8px;
    border: 1px solid #3DB370;
}
.left:hover {
    border-radius: 8px;
    border: 1px solid #3DB370;
}
.middle:hover {
    border-radius: 8px;
    border: 1px solid #3DB370;
}
footer {
    width: 100%;
    height: 193px;
    display: flex;
    justify-content: center;
    background: var(--6, #16133D);
}
.buttom {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}
div.contacts nav ul {
    display: flex;
    gap: 10px;
}
li {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #EFEEF3;
}
:root {
    --color-1: #E1F4F5;
    --color-2: #CAEFF2;
    --color-3: #CAEFF2;
    --color-4: #E1F4F5;
    --color-5: #CAEFF2;
    --color-6: #F4FEFF;
    --color-7: #E1F4F5;
    --color-8: #007FFC;
    --color-9: #E8F3FF;
    --color-10: #D1E7FF;
    --color-11: #B9DCFF;
    --color-12: white;
    --color-13: #B9DCFF;
    --color-14: #B9DCFF;
    --color-15: #007FFC; 
    --color-16: #D1E7FF; 
    --color-17: #B9DCFF;
    --color-18: #D1E7FF;
    --color-19: #B9DCFF;
    --color-20: #E8F3FF;
    --color-21: #D1E7FF;
    --color-22: #007FFC;
}
div.block :hover {
    --color-8: #52C29D;
    --color-15: #52C29D; 
    --color-22: #52C29D;
}