@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
form {
    width: 100%;
    max-width: 570px;
    height: auto;
    min-height: 590px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
form .name, .email, .sex, .location, .content, .imgcontent {
    margin-bottom: 20px;
}
.name h4, .email h4, .location h4, .content h4 {
    margin-bottom: 7px;
}
h2 {
    color: #1C1C1C;
    font-family: 'Roboto';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 20px;
}
h4, a.sors2 {
    color: #545454;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    letter-spacing: -0.2px;
    display: inline-block;
}
p {
    color: #969696;
    font-family: 'Roboto';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.1px;
}
div.text p {
    width: 100%;
    max-width: 410px;
}
a {
    text-decoration: none;
}
a.sors1 {
    color: #007BFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}
a.sors3 {
    color: #007BFF;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; 
    letter-spacing: -0.1px;
}
div.name, div.sex, div.location, div.content {
    display: flex;
    width: 100%;
    gap: 12px;
}
div.name label input, div.email label input, div.location label input, 
div.content label input, div.wrapper input {
    width: 100%;
    height: 38px;
    border: 1px solid #E4E4E4;
    border-radius: 10px ;
    padding: 7px 10px;
}
div.wrapper input {
    height: 30px;
}
div.name label, div.location label, div.content label {
    width: 100%;
}
div.name input:focus {
    border: 1px solid #007BFF;
}
div.email label input {
    margin-bottom: 7px;
}
div.sex label, div.imgcontent, div.imgcontent label {
    display: flex;
}
div.sex {
    gap: 20px;
}
div.sex label {
    gap: 8px;
}
.wrapper_radio {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.wrapper_radio input {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;
    z-index: 2;
}
.wrapper_radio input:checked + .check {
    opacity: 1;
}
.wrapper_radio .check {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 6px solid blue;
    opacity: 0;
}
div.sex label input {
    width: 20px;
    height: 20px;
    margin: 0 8px 0 0;
}
div.location select, div.wrapper select {
    width: 100%;
    height: 38px;
    border: 1px solid #E4E4E4;
    border-radius: 10px ;
    padding: 7px 10px;
}
button {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.1px;
    background: blue;
    height: 38px;
    border-radius: 10px;
    border: unset;
    margin-bottom: 22px;
    width: 100%;
}
button.update {
    max-width: 150px;
    margin-bottom: 0;
}
div.text {
    display: flex;
    justify-content: center;
    text-align: center;
}
hr {
    background: #E4E4E4;
    border: 0;
    width: 100%;
    height: 1px;
    margin: 20px 0 20px 0;
}
div.source {
    display: flex;
    justify-content: center;
    gap: 20px;
}
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button, form label select {
    appearance: none;
}
form label .wrapper {
    position: relative;
    display: flex;
    align-items: center;
}
form label .wrapper img {
    position: absolute;
    right: 10px;
}
button.trash {
    width: 30px;
    height: 30px;
    background: white;
    margin: 0 0 0 10px;
    border: 1px solid #E4E4E4;
    display: flex;
    align-items: center;
}
div.imgcontent {
    gap: 20px;
}
div.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.right label {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}